{
    "ver": "0.77.2",
    "token": "BOT_TOKEN" ,
    "chat": {
        "url": "http://api.brainshop.ai/get",
        "brainID": "BrainID",
        "key": "API_Key",
        "channel": ""
    },
    "guildID": "",
    "stageID": "",
    "reportID": "",
    "otherID": "",

    "clientId": "BOT_USER_ID"
}